@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #24377d; /* Default foreground color */
  --background-start-color: #73a0ad; /* Default background start color */
  --background-end-color: #73a0ad; /* Default background end color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #73a0ad; /* Dark mode foreground color */
    --background-start-color: #73a0ad; /* Dark mode background start color */
    --background-end-color: #121212; /* Dark mode background end color */
  }
}

body {
  color: var(--foreground-color);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-color)
    )
    var(--background-start-color);
}